.page-section {
  padding: 1.2rem 0;
/*ovim obezbeđujemo patern padding između blokova teksta*/
  @mixin atMedium {
    padding: 4.5rem 0;
  }
  &--no-b-padding-until-medium{
    padding-bottom: 0;
    
    @mixin atMedium {
      padding-bottom: 4.5rem;
    }
  }
  &--no-b-padding-until-large{
    padding-bottom: 0;
    
    @mixin atLarge {
      padding-bottom: 4.5rem;
    }
  }
  &--blue {
    background-color: $mainBlue;
    color: #FFF;
  }
  &--testimonials {
    background-color: #e0e6ef;
    
    @mixin atLarge {
      background: url("/assets/images/testimonials-bg.jpg") top center no-repeat;
      /*
      I recommend you remove the forward slash from the start of the image path.
      instead of this: background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
      Use this: background: url('assets/images/testimonials-bg.jpg') top center no-repeat;
      This way your code works in a wider variety of hosting situations once you're ready to push the site live to the public.
      */
      background-size: cover;
    }

  }
}